.contact {
  display: grid;
  justify-content: space-evenly;
  svg {
    width: 33vw;
    max-width: 300px;
  }

  ul {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    li {
      width: 100%;
    }
  }
}
