@import "../util/nav";
@import "../breakpoints/points.scss";

header {
  width: 100vw;
  display: flex;
  display: grid;
  height: 100vh;
  overflow-y: hidden;
  align-content: center;
  color: #fff;
  svg {
    max-width: 70vw;
    margin: 0 auto;
    fill: white;
  }
  background-color: #000000;
  // I customized the wicked cool background on my homepage at SVGBackgrounds.com.
}
