.card {
  display: flex;
  flex-wrap: wrap;
  width: 66vw;
  min-height: 200px;
  align-content: center;
  margin-bottom: 3vw;
  color: #fff;
  text-align: center;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  font-size: 1.333rem;
  .card-title {
    width: 100%;
    font-weight: bold;
  }

  .card-container {
    display: grid;
  }
  .card-content {
    height: 100%;
    color: #fafafa;
    display: grid;
    padding: 3vw;
    max-width: 80ch;
    align-content: space-evenly;
  }
  @include md {
    width: 40vw;
    font-size: 2rem;
    text-align: left;
  }
  * {
    flex-grow: 1;
    margin-bottom: 0.5rem;
  }
}

.about-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  height: 100%;
  gap: 3vw;
  margin-top: 2rem;
  align-content: flex-start;
}
