@import "_reset.scss";
@import "./sections/sections";
@import "./ui/ui";
@import "./type/scaling";
@import "./util/utilityClases";
html {
  scroll-behavior: smooth;
}
#root {
  width: 100vw;
  overflow-x: hidden;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.fallback {
  font-size: 10rem;
  background-color: #000000;
  color: #fafafa;
}
