@import "_reset.scss";
@import "./templates/header";
@import "./templates/main";
@import "./sections/sections";
@import "./ui/ui";
@import "./type/scaling";
html {
  scroll-behavior: smooth;
}
#root {
  width: 100vw;
  overflow-x: hidden;
}
